.header__topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  color: #23020a;
  background: repeating-linear-gradient(111deg, #23020a, #23020a 25%, #E84155 0, #E84155 50%, #048E92 0, #048E92 75%, #2F3F6F 0, #2F3F6F);
  display: block;
  height: 15px;
  &:hover {
    background-image: repeating-linear-gradient(120deg, #23020a, #23020a 25%, #E84155 0, #E84155 50%, #048E92 0, #048E92 75%, #2F3F6F 0, #2F3F6F);
  }
}

.header__content-block {
  display: grid;
  grid-template-columns: 110px auto;
  align-content: center
}

.header__logo-sec {
  // padding: 1.5rem;
  display: inline-block;
  background: #23020a;
  position: relative;
  height: 90px;
  width: 90px;
}

.header__logo {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 10%;
  display: grid;
  height: 100%;
  align-content: end;
  justify-content: end;
  width: 100%;
}

.header__social-pack {
  display: inline-block;
  text-align: center;
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.header__social-sec {
  margin: 0 .3rem;
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    margin-right: 0.2rem;
  }
  a {
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid #112739;
    }
  }
}