// Hero Sectio/n Style

.main__author-subhead {
  font-size: 26px;
  color: #757575;
  font-weight: normal;
}

.main__author-head {
  color: #112739;
  font-weight: 700;
  font-size: 45px;
}

.main__author-experct {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
}

.main__content-link:hover {
  color: rgb(2, 131, 86);
}

// for mobile and tablet
@media screen and (max-width: 420px) {
  .header__social-pack {
    flex-direction: column;
    align-content: end;
    margin-top: 15px;
  }

  .header__social-sec {
    justify-content: flex-end;
  }

  .main__author-head {
    font-size: 35px;
  }

  .main__author-experct {
    padding: 1rem;
  }
  
}