.pagination {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}

.pagination__link {
  display: inline-block;
  border-radius: 4px;
  margin: 0 1rem;
  border: 1px solid #ddd;
  padding: 8px 14px;
}