.posts {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.posts__single {
  border: 1px solid #ddd;
  background: #fff;
  background-image: none;
  display: inline-block;
  padding: 2rem;
  border-radius: 5px;
}

.large {
  display: block;
  margin: 2rem 0;
  text-align: center;
}

.posts__date-and-time {
  font-size: 16px;
  font-weight: 300;
  color: #757575;
}

.posts__title {
  font-size: 2rem;
  color: #112739;
  font-weight: bolder;
}

.posts__excerpt {
  color: #757581;
  font-weight: normal;
}

// Mobile View
@media screen and (max-width: 420px) {
  .posts {
    grid-template-columns: 1fr;
  }

  .posts__single {
    margin: 0 1rem;
  } 
}