.social-share__icon {
	display: inline-block;
	padding: 15px;
	background: #1da1f2; 
	border-radius: 50%;
	cursor: pointer;

	i {
		color: #fff;
		font-size: 20px;
	}
}

.social-share__container {
	display: grid;
	place-content: center;
}

@media screen and (min-width: 960px) {
	.social-share__icon {
		position: fixed;
		top: calc(50% - 25px);
		left: 1%;
	}

}

@media screen and (max-width: 959px) {
	.social-share__wrapper {
		margin-left: auto;
	}
	
	.share_button-wrapper {
		margin: 1rem 0;
		display: flex;
		align-items: center;

		.share_button-text {
			margin: 0 1rem;
		}
	}
}