// Base CSS

@import url('https://fonts.googleapis.com/css?family=Sanchez:400,400i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    font-family: $font-family1;
}

html {
    box-sizing: border-box
}

*, *:after, *:before {
    box-sizing: inherit;
}

h1,h2 {
    font-family: $font-family;
}

h1 {
    font-size: 50px;
    margin: 2rem 0;
}
h2 {
    font-size: 40px;
}
h3{
    font-size: 24px;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
}

.wrapper {
    max-width : 960px;
    width : 100%;
    margin : 0 auto;
}

.center {
    text-align : center;
}

.right {
    text-align: right;
}
.color-white {
    color: #fff;
}

.container-fluid {
    width: 100%;
    padding: 0 2rem 0 2rem;
}

.hero {
    padding: 2rem 0 2rem 0;
}

.padding {
    padding: 2rem 0;
} 

.uppercase {
    text-transform: uppercase;
}

.background {
    background-position: center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

.bold {
    font-weight: bold;
}

.btn {
    font-weight: 300;
    line-height: 2rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
}
