// @import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600|Roboto+Mono:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-size : 18px;
  // font-family: 'Dosis', sans-serif;
  font-family: 'Roboto', monospace;

}

.error {
  color : red;
  font-weight : bold;
}

a {
  color : blue;
}

.value {
  color : chocolate;
  font-weight : bold;
}

.called_function {
  letter-spacing : 0.1rem;
  font-weight : bold;
  color : #1689bd;
}

img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

p {
  font-size: 1.05rem;
  font-weight: 500;
}

h2 {
  font-weight: bold;
}

.highlighter {
  color: rgb(22, 79, 102);
  font-weight: bold; 
}
