// Variables
$font-family : 'Sanchez', serif;
$font-family1: 'Open Sans Condensed', sans-serif;
$h1-size : 50px;
$h2-size : 40px;
$h3-size : 24px;
$icon-height : 58px;
$text-color : #333;
$background : #000;