html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-family: 'Hind Madurai', sans-serif;
  color: #757575;
}

.home {
  background: #f1f1ff;
}

.show-content {
  background: #fff;
}

*, *:after, *:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: auto;
  font-feature-settings: auto;
  -webkit-font-kerning: auto;
  font-kerning: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hind Madurai', sans-serif;
}

.wrapper {
  width: 960px;
  max-width: 100%;
  margin: 0rem auto;
}

a {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  font-family: 'Hind Madurai', sans-serif;
  color: #112739;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

.center {
  text-align: center;
}

section {
  padding: 2rem 0 5rem 0;
}

img {
  width: 100%;
}

.sml-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.main {
  padding: 1rem 0;
  padding-bottom: 2rem;
}

pre {
  font-size: 16px;
}